body {
  display: flex;
    flex-direction: column;
    align-items: center;
}

button {
  height: 75px;
  width: 20vw;
  font-size: 40px;
  background-color: royalblue;
}

.result {
  width: 80vw;
  height: 75px;
  background-color: darkgray;
  background-size: 300px;
  color: white;
  font-size: 50px;
  text-align: right;
}

.resultText {
  margin-right: 2vw;
}

#buttonClear {
  width: 40vw;
  text-align: left;
}

.calculator-body {
  width: 80vw;
}

#button9 {
  background-color: white;
}

#button1 {
  background-color: white;
}

#button2 {
  background-color: white;
}

#button3 {
  background-color: white;
}

#button4 {
  background-color: white;
}

#button5 {
  background-color: white;
}

#button6 {
  background-color: white;
}

#button7 {
  background-color: white;
}

#button8 {
  background-color: white;
}